 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 400px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    margin: 15px 0
  }

  .td-filter {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px 0 -1px;
    color: lightgray;

    &:hover {
      cursor: pointer;
    }
  }

  .active-filter {
    border: 1px solid lightgray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 4px -1px -1px;
    border-bottom: 0;
    background-color: #eee;
    color: black;
  }
    .button {
    display: inline-block;
    background-color: #7997a1;
    padding: 4px 8px;
    border-radius: 3px;
    color: white;
    margin-top: 15px;

    &:hover {
      cursor: pointer;
      background-color: #9bc2cf;
    }
  }

  .disabled {
    background-color: #334045;
    cursor: default;

    &:hover {
      cursor: default;
      background-color: #334045;
    }
  }
}

#todo-form {
  border-top: 1px solid lightgray;
  padding-top: 4px;

  input {
    width: 98%;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 2px 8px;
  }

  #td-list {
    list-style: none;
    padding-left: 0;
    text-align: left;
  }

  li span {
    display: none;
  };

  li:hover span{
    display: inline-block;
    float: right;
    color: red;
  }


  .complete {
    text-decoration: line-through;
    color: lightgray;
  }

}
